/*how can i use Lato font family? */

body {
	background-color: #f3c800;
	color: #333333;
	font-family: 'Helvetica', sans-serif; 
	margin: 0;
	padding: 0;
}

h1 {
	color: #fafafa;
	font-family: 'Helvetica', sans-serif; 
	font-size: 150px;
	margin: 0;
	padding: 0;
}
 
.pic {
	height: 200px;
  width: 200px;
 	overflow: hidden;
	/*float: left; same as display: inline-block */
	display: inline-block;
	/*display: inline; hides less overflow??*/
	padding: 7px;
}

/*GROW*/
.grow img {
  height: 200px;
  width: 200px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease; 
}
 
.grow img:hover {
  width: 250px;
  height: 250px;
}