/* is there any way to get stuff to go one after another w/o position: absolute */

body {
	margin: 0;
	padding: 0;
	font: 15px/15px 'Helvetica' sans-serif
}

header {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #ff0000;
	/*float: left; */
	/* here we have to use position: absolute to keep the header at the very top. 
	why doesn't it automatically float to the top?!!?!*/
}

nav ul {
	padding: 8px 0px;
	float: right;
	/*position: absolute;
	left: 0;
	top: 0;*/ 
	/*position absolute doesn't work, b/c the background color won't show. 
	If a container contains nothing but a floated element, 
	that container will collapse down to a height of zero, 
	because floating an element takes it out of the normal document flow. 
	That is, unless the container is floated as well. 
	Then, suddenly, our container only collapses down to the size of the contained float.*/
	
}

nav li {
	display: inline;
	margin: 36px /* space b/w nav items */
}

ul {
	list-style-type:none; /* gets rid of bullet points */
	padding: 0;
}

p.header {
	font-style: bold;
	font: 30px/30px 'Helvetica' sans-serif;
	float: left;
	margin: 15px 36px;
	color: #FFFFFF;
}

a.nav {
	font: 14px/14px 'Helvetica' sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}

h1 {
	font: 100px/100px 'Helvetica' sans-serif;
	font-style: bold;
	margin-top: .5em;
	margin-bottom: .1em;
	color: #ff0000;
	text-align: center;
}

h3 {
	margin-bottom: .5em;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}


a.content {
	font: 14px/14px 'Helvetica' sans-serif;
	color: #ff0000;
	text-decoration: none;
}

ul.content {
	width: 960px;
	padding: 0;
	margin: 0 auto;
}

.threecolumns {
	display: inline;
	padding: 0px;
	margin-right: 36px;
	width: 296px; 
	float: left;
	text-align: left;
	font-size: 14px;
}
.threecolumns.last {
	margin-right: 0; /*need this to get it all three columns to fix or else 296+36+296+36+296+36 > 960*/
}

#banner {
	margin-top: 70px;
	margin-left: 10px;
}

.wrap {
	width: 960px;
	margin: 0 auto;
}

/* the gray box! */
.content {
	width: 100%;
	background-color: #ddd; /*gray*/
	height: 100%;
	margin: 0;
}

.i-b {
	display: inline-block;
	vertical-align: top;
}

.thumbnailtext {
	width: 190px; /*absolutely need this */
	height: 110px;
	margin: 0px;
	padding: 0px;
}

#leftcontent {
	padding: 0;
	margin-right: 36px;
	display: inline-block;
	vertical-align: top;
	width: 628px;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	/*width: 296px;*/
	margin: 0;
	padding: 0;
}